<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Registration</h3>

  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
  </div>

  <div class="form-actions pt-1 mb-4">
    <%= f.button :submit, "Sign up", class: "btn btn-info btn-lg btn-block" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
