<%- if controller_name != 'sessions' %>
  <p>Do you have an account? <%= link_to "Log in", new_session_path(resource_name), class: "link-info" %><br />
<% end %>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to "Forgot your password?", new_password_path(resource_name), class: "text-muted custom-link " %><br />
<% end %>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <p>Don't have an account? <%= link_to "Register here", new_registration_path(resource_name), class: "link-info" %><br />
<% end %>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= form_for "Login",
                 url: omniauth_authorize_path(resource_name, provider),
                 method: :post,
                 data: {turbo: "false"} do |f| %>
      <%= f.submit "Login", type: "image", src: url_for("/assets/google_btn/btn_google_signin_light_normal_web.png") %>
    <% end %>
  <% end %>
<% end %>
