<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>

  <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Forgot your password?</h3>

  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
  </div>

  <div class="form-actions  pt-1 mb-4">
    <%= f.button :submit, "Send me reset password instructions", class: "btn btn-info btn-lg btn-block" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
