<div class="container">
  <%= form_with model: Game.new, url: games_path, method: :post do |form| %>
    <div class="row form-group mb-5">
      <%= form.hidden_field :challenger_id, value: current_user.id %>
      <%= form.hidden_field :challengee_id, value: user.id %>
      <div class="col-4 p-0">
        <%= content_tag(:span, "#{user.email}", class:"input-group-text w-100") %>
      </div>
      <div class="col-4 p-0">
        <%= form.select :color,
                        options_for_select([['White', 'white'], ['Black', 'black'], ['Random', 'random']],
                                           ),{}, {class:"form-select w-100"} %>
      </div>
      <div class="col-4 p-0">
        <%= form.submit "Challenge", class:"btn btn-primary w-100" %>
      </div>
    </div>
  <% end %>
</div>