<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Log in</h3>

  <div class="form-inputs">
    <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
    <%= f.input :password,
                required: false,
                input_html: { autocomplete: "current-password" } %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions pt-1 mb-4">
    <%= f.button :submit, "Log in", class: "btn btn-info btn-lg btn-block" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
